@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@600&family=Sarabun:ital,wght@0,100;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 2rem;
}

h2 {
    font-family: 'Radio Canada', sans-serif;
}

ul, p {
    list-style-type: none;
    font-family: 'Sarabun', sans-serif;
}

body header nav ul li {
    display: inline;
    text-align: right;
    border-bottom: solid 2px #000000;
    padding: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin: 10px;
}

a {
    text-decoration: none;
}

.cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ecb2ec;
    background-size: cover;
    height: 50px;
}

.logo {
    max-width: 30%;
}

.footer {
    background-image: linear-gradient(#c647e2, #e883ff);
    display: flex;
    justify-content: space-around;
}

.redesSociales {
    display: flex;
    justify-content: end;
}

.botonRedes {
    display: inline;
}

.nuestraMision {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}


.opciones {
    display: flex;
    flex-direction: column;
    max-width: 80%;   
    margin: 0 auto;
}

.opciones a {
    padding: 10px;
    margin: 5px;
    border: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.opciones a p {
    width: auto;
}

.boton--sticky { 
    position: fixed;
    top: auto;
    right: 0;
}

footer section form button {
    display: inline;
}

.tituloh1 {
    display: flex;
    justify-content: center;
}

.formContacto {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.grilla {
    display: grid;
    grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
}

#card1 {
    background-color: rgb(252, 188, 198);
    grid-area: card1;
    align-items: center;
}
#card2 {
    background-color: rgb(252, 188, 198);
    grid-area: card2;
    justify-items: center;
}
#card3 {
    background-color: rgb(252, 188, 198);
    grid-area: card3;
}
#card4 {
    background-color: rgb(252, 188, 198);
    grid-area: card4;
}
#card5 {
    background-color: rgb(252, 188, 198);
    grid-area: card5;
}
#card6 {
    background-color: rgb(252, 188, 198);
    grid-area: card6;
}

/* MEDIA QUERIS */

@media screen and (max-width: 608px) {
    .cabecera {
        display: flex;
        flex-direction: column;
        height: 40vh;
        background-color: #ecb2ec;
    }
}

@media screen and (max-width: 560px) {
    .grilla {
        grid-template-columns: 1fr;
        grid-template-rows: 1/6fr;
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6";
    }
}
@media screen and (max-width: 700px) {
    .opciones a {
        padding: 10px;
        margin: 5px;
        border: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* ANIMACIONES */

@keyframes aparece {
    0s {transform: scale(0);}
    10s {transform: scale(.5);}
    20s {transform: scale(1)} 
}