@import './misc/variables';
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@600&family=Sarabun:ital,wght@0,100;1,100&display=swap');


* {
    margin: 0;
    padding: 0;
}

@mixin gpm($gap, $padding, $margin) {
    gap: $gap;
    padding: $padding;
    margin: $margin;
}

header {
    padding: 2rem;
    position: relative;
}

h2 {
    font-family: map-get($fontfamily, font-ppal), sans-serif;
}

ul, p {
    list-style-type: none;
    font-family: map-get($fontfamily, font-text), sans-serif;
}

body header nav ul li {
    @extend .botonRedes;
    text-align: right;
    border-bottom: solid 2px #000000;
    padding: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    @include gpm(10px, 0, 10px);
}

a {
    text-decoration: none;
}

.centrado {
    display: flex;
    display: block;
    margin: 0 auto;
}

.separador {
    background-image: url(../img/fondotitulo.png);
    height: 5px;
    max-width: 70%;
    margin: 0 auto;
}

.cabecera {
    background-image: url(../img/wavedown.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35vh;
    }
    
.logo {
    max-width: 30%;
}

.titulo {
    @extend h2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/fondotitulo.png);
    height: 15vh;
}

.footer {
    // background-image: linear-gradient(#c647e2, #e883ff);
    background-image: url(../img/waveup.png);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redesSociales {
    display: flex;
    justify-content: end;
    align-items: center;
}

.botonRedes {
    display: inline;
}

.nuestraMision {
    max-width: 80%;
    @include gpm(0, 10px, 0 auto);
    font-size: large;
}


.opciones {
    display: flex;
    flex-direction: column;
    max-width: 80%;   
    margin: 0 auto;

    a {
        @include gpm(0, 10px, 5px);
        border: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
            width: auto
        }
    }
    
}

.textoIzquierdo, .textoDerecha {
    font-size: large;
}

.prof {
    display: flex;
    max-width: 80%;   
    margin: 0 auto;
    align-items: center;
}



.terapias .opciones {
    justify-content: space-between;
}

.boton--sticky { 
    position: fixed;
    top: auto;
    right: 0;
}

footer section form button {
    display: inline;
}

.hamburger, #hamburger {
    display: none;
}

#hamburger {
    position: absolute;
    top: 210px;
    width: 40px;
    height: 33px;
    opacity: 0;
}

.obrasSociales {
    display: grid;
    grid-template-areas:
    "os1 os2" 
    "os3 os4"
    "os5 os6";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    @include gpm(5px, 0, 0 auto);
    max-width: 70%;
}

.os1 {
    width: 450px;
    height: 150px;
    grid-area: os1;
}
.os2 {
    width: 450px;
    height: 150px;
    grid-area: os2;
}
.os3 {
    width: 450px;
    height: 150px;
    grid-area: os3;
}
.os4 {
    width: 450px;
    height: 150px;
    grid-area: os4;
}
.os5 {
    width: 450px;
    height: 150px;
    grid-area: os5;
}
.os6 {
    width: 450px;
    height: 150px;
    grid-area: os6;
}

.grilla {
    display: grid;
    grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    @include gpm(2px, 0, 20px);
    max-width: 70%;
    margin: 0 auto;
}

@mixin cards ($alg, $jus, $pad) {
    align-items: $alg;
    justify-content: $jus;
    padding: $pad;    
}

#card1 {
    grid-area: card1;
    background-image: linear-gradient(45deg, #64c2b867, #ffffff9f);
    @include cards (center, center, $card-padding);
}
#card2 {
    grid-area: card2;
    @extend #card1
}
#card3 {
    grid-area: card3;
    @extend #card1
}
#card4 {
    grid-area: card4;
    @extend #card1
}
#card5 {
    grid-area: card5;
    @extend #card1
}
#card6 {
    grid-area: card6;
    @extend #card1
}

#card1:hover {
    font-size: large;
    transition: font-size 1s;
}

#card2:hover {
    font-size: large;
    transition: font-size 1s;
}

#card3:hover {
    font-size: large;
    transition: font-size 1s;
}

#card4:hover {
    font-size: large;
    transition: font-size 1s;
}

#card5:hover {
    font-size: large;
    transition: font-size 1s;
}

#card6:hover {
    font-size: large;
    transition: font-size 1s;
}

.formularioContacto {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* MEDIA QUERIS */

@media screen and (max-width: 608px) {
    .cabecera {
        display: flex;
        flex-direction: column;
        height: 35vh;
    }
    .hamburger, #hamburger {
        display: block;
        position: absolute;
        top: 210px;
    }

    #hamburger:checked ~ .menu {
        display: block;
    }
    .menu {
        display: none;
    }
}

@media screen and (max-width: 680px) {
    .grilla {
        grid-template-columns: 1/3fr;
        grid-template-rows: 1/6fr;
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6";
    }
}

@media screen and (max-width: 320px) {
    .grilla {
        justify-content: center;
        grid-template-columns: 1/3fr;
        grid-template-rows: 1/6fr;
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4"
            "card5"
            "card6";
    }
    footer section p, ul {
        display: none
    }
    .nuestraMision, .textoIzquierdo, .textoDerecha {
        font-size: small;
    }    
    .terapeutas a .prof {
        display: block;
        flex-direction: row;
    }
    body div img {
        width: 320px;
        height: 250px;
    }
    .obrasSociales {
        display: grid;
        grid-template-areas:
        "os1"
        "os2"
        "os3" 
        "os4"
        "os5"
        "os6";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        @include gpm(30px, 0, 30px auto);
        max-width: 70%;
    }
    .os1 {
        width: 200px;
        height: 50px;
        grid-area: os1;
    }
    .os2 {
        width: 200px;
        height: 50px;
        grid-area: os2;
    }
    .os3 {
        width: 200px;
        height: 50px;
        grid-area: os3;
    }
    .os4 {
        width: 200px;
        height: 50px;
        grid-area: os4;
    }
    .os5 {
        width: 200px;
        height: 50px;
        grid-area: os5;
    }
    .os6 {
        width: 200px;
        height: 50px;
        grid-area: os6;
    }

}

@media screen and (min-width: 681px) {
    .grilla {
        grid-template-columns: 2/3fr;
        grid-template-rows: 1/3fr;
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6";
    }
}

@media screen and (min-width: 1025px) {
    .grilla {
        grid-template-columns: 3fr;
        grid-template-rows: 1/2fr;
        grid-template-areas:
            "card1 card2 card3"
            "card4 card5 card6";
    }
}

@media screen and (max-width: 700px) {
    .opciones a {
        padding: 10px;
        margin: 5px;
        border: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 320px) {
    .logo {
        max-width: 100%;
    }
}




